
/*body {*/
    /*font-family: 'Arvo', serif;*/
    /*padding: 5px;*/
    /*margin: 0;*/
    /*overflow: hidden;*/
/*}*/

/*#htmlwidget_container {*/
    /*position: absolute;*/
    /*top: 5px;*/
    /*left: 5px;*/
    /*bottom: 5px;*/
    /*right: 5px;*/
/*}*/

body {
    font-family: 'Arvo', serif;
}

.index-link {
    margin-bottom: 10px;
}

h2 {
    margin: 10px;
}

p {
    width: 800px;
}

*[snapshot-name] p {
    /* do not give anything inside a snapshot a fixed width, so that the snapshot size is limited to the content */
    width: auto;
}

h2.hidden {
    display: none;
}

pre.config {
    margin: 5px;
}

[snapshot-name], [snapshot-name].row {
    display: inline-block;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.for-consideration, .status-red {
    border: 4px dashed red;
}

.status-yellow {
    border: 4px dashed orange;
}


.example {
    align-self: flex-end;
    flex: 0 0 auto;
    margin: 10px;
    /*border: 1px dashed dimgrey;*/
}

.widget-container {
    margin-left: auto;
    margin-right: auto;
}

.widget-container.border {
    border: 1px dashed dimgrey;
}

.relative-resize-container {
    display: flex;
}

.relative-resize-button {
    margin: 5px;
}

.code {
    background-color: #eeeeee;
    opacity: 0.6;
    border: #cccccc 1px solid;
    border-radius: 2px;
    font-weight: 200;
    font-family: Arial;
}

.code-block {
    background-color:antiquewhite;
    opacity: 0.6;
    display:inline-block;
    border: #cccccc 1px solid;
    border-radius: 2px;
    font-family: Arial;
}

.note {
    font-size: x-small;
    font-weight: 200;
    font-family: Arial;
}

.emphasis {
    font-weight: 900;
    font-family: Arial;
}


.rerender-container {
    width: 300px;
    margin: auto;
    display: flex;
    padding-bottom: 10px;
}

.rerender-element {
    margin-left: 3px;
    margin-right: 3px;
}
