body {
  background-color: powderblue;
}

.row {
  display: flex;
  width: 100%;
}

.snapshot-cell {
  flex-grow: 1;
  margin: 1px 1px;
}

/*TODO these should go somewhere else and be progrmattically defined*/
.status-red {
  color: red;
}

.status-yellow {
  color: yellowgreen;
}

.status-green {
  color: green;
}

.status-expected {
  color: blueviolet;
}

.status-incomplete {
  color: black;
}